<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Flask task</title>
</head>

<body>
  <div>
    <h2>Consulta Covid
    <h3>Aplicação voltada à consulta de dados relacionados à doenças epidemiológicas</h3>
    </h2>
  </div>
 
  <div>
    <h3>Reponsável pela implementação: José Vinicius Ferreira Santana  RA: 1460481821047</h3>
    <h3>Prof: FAbricio Galende Marques de Carvalho</h3>
  </div>
  
</body>
</html>