.left-tab{
    display: inline;
    border-style: ridge;
    border-color: white;
    background-color:rgb(41, 41, 41);
    height: 100%;
    width: 150px;
    position: relative;
    border-width:2px;
    left:0px;
    float: left;
    
}
.container{
        position:relative;
        border-width:2px;
        width:85%;
        height: 100%;
        float: left;
}
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
     zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.link{
    color: white;
    text-decoration: double;
    font-size: smaller  ;
}
.label{
    width: 200px;
    display:inline-grid;
}
.row{
    margin: 3%;
    height:-webkit-fill-available;
}
.row-content{
    border:solid;
    border-color: black;
    border-width: thin;
    height:-webkit-fill-available;
    padding: 3%;
}
.row-head{
    border:solid;
    border-color: black;
    border-width: thin;
    margin-bottom: 3px;
    
    
}
.button-srch{
    margin-top: 2%;
    margin-left: 1%;
    position: absolute;
    height: 18.8px;
}

.conteudo{
    margin-top: 3%;
    border-style: solid;
    border-width: thin;
    border-color: black;
}